<?xml version="1.0" encoding="utf-8" ?>
<!-- Esse arquivo é compartilhado entre os projetos -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- 
    Configurar values para ordenação desejada
      a = Ascendente
      d = Descendente
    -->
    <add key="Titulo" value="a"/>
    <add key="Autor" value="a"/>
    <add key="AnoEdicao" value="a"/>
  </appSettings>
</configuration>